#fishingButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#fishingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#sardineButton{
    display: none;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#sardineButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#wellButton{
    display: none;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#wellButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#altarButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 130px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#altarButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#miningButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 160px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#miningButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#farmingButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 190px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#farmingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#woodcuttingButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 220px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    text-align: center;
    z-index: 500;
}
#woodcuttingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}
