.toggle-off {
    background-color: transparent !important;
    box-shadow: inset 0 0 2px #fff;
    color: white !important;
}

.toggle-on {
    background-color: white !important;
    border: none !important;
    color: black !important;
}

#fishingButton{
    display: flex;
    align-items: center;
    
    top: 100px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
       color: white;
    text-align: center;
    z-index: 500;
}
#fishingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#sardineButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 100px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#sardineButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#jellyfishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 340px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#jellyfishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#goliathButton{
    display: inherit;
    align-items: center;
    top: 340px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin-top: 5px;
    text-align: center;
    z-index: 500;
    color: white;
}
#goliathButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#flounderButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 100px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    text-align: center;
    z-index: 500;
    color: white;
}
#flounderButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#codButton{
    display: inherit;
    align-items: center;
    top: 130px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin-top: 5px;
    text-align: center;
    z-index: 500;
    color: white;
}
#codButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#wellButton{
    vertical-align: middle !important;
    display: inherit;
    align-items: center;
    top: 100px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#wellButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#stoneCrabButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#stoneCrabButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#picklefishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#picklefishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#pufferfishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#pufferfishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#mantarayButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 340px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#mantarayButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#catfishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#catfishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#clownfishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#clownfishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#seahorseButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#seahorseButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#seaturtleButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#seaturtleButton:hover{
    opacity: 0.8;
    cursor: pointer;
}



#anglerButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#anglerButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#crabButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#crabButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#urchinButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#urchinButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#snakeButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#snakeButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#stoneClamButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 130px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#stoneClamButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#giantsnailButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#giantsnailButton:hover{
    opacity: 0.8;
    cursor: pointer;
}


#squidButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 130px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#squidButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#troutButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 160px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#troutButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#salmonButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 190px;
    left: 150px;;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#salmonButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#oysterButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 160px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#oysterButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#shrimpButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 160px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#shrimpButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#tunaButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 190px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#tunaButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#starfishButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 190px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#starfishButton:hover{
    opacity: 0.8;
    cursor: pointer;
}


#altarButton{
    display: flex;
    align-items: center;
    
    top: 130px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#altarButton:hover{
    opacity: 0.8;
    cursor: pointer;
}


#airButton{
    display: inherit;
    align-items: center;
    
    top: 130px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#airButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#apprenticeButton{
    display: inherit;
    align-items: center;
    
    top: 130px;
    left: 290px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#apprenticeButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#earthButton{
    display: inherit;
    align-items: center;
    
    top: 130px;
    left: 430px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#earthButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#waterButton{
    display: inherit;
    align-items: center;
    
    top: 160px;
    left: 150px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#waterButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#darkButton{
    display: inherit;
    align-items: center;
    
    top: 160px;
    left: 290px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#darkButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#dreamButton{
    display: inherit;
    align-items: center;
    
    top: 160px;
    left: 430px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#dreamButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#bloodButton{
    display: inherit;
    align-items: center;
    
    top: 190px;
    left: 150px;;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#bloodButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#alchemyButton{
    display: inherit;
    align-items: center;
    
    top: 190px;
    left: 290px;
    width: 131px;
    height: 25px;
    margin-top: 5px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#alchemyButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#enchantmentButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 190px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#enchantmentButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#miningButton{
    display: flex;
    align-items: center;
    
    top: 160px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#miningButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#farmingButton{
    display: flex;
    align-items: center;
    
    top: 190px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#farmingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#woodcuttingButton{
    display: flex;
    align-items: center;
    
    top: 220px;
    left: 10px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#woodcuttingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#pyreFumaroleButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#pyreFumaroleButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#dwarvenButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#dwarvenButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#clayButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#clayButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#viridianButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#viridianButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#treasureButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#treasureButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#forsakenButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#forsakenButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#sjnorButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#sjnorButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#wizardButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#wizardButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#graniteButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#graniteButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#tortugaButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#tortugaButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#logButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#logButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#oakButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#oakButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#birchButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 220px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#birchButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#spruceButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#spruceButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#willowButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#willowButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#acaciaButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 250px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#acaciaButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#dreadknotButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#dreadknotButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#mahoganyButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 290px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#mahoganyButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#baobabButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 280px;
    left: 430px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#baobabButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#bedlamButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#bedlamButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#wheatButton{
    display: inherit;
    align-items: center;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#wheatButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#lettuceButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#lettuceButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#potatoButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#potatoButton:hover{
    opacity: 0.8;
    cursor: pointer;
}   

#flaxButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#flaxButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#nettleLeafButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#nettleLeafButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#tomatoButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#tomatoButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#carrotButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#carrotButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#sugarcaneButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#sugarcaneButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#cocoaBeansButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#cocoaBeansButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#vikingHopsButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#vikingHopsButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#beetButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#beetButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#cornButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#cornButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#garlicButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#garlicButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#bambooButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#bambooButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#pyrePepperButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#pyrePepperButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#pumpkinButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#pumpkinButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#appleButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#appleButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#orangeButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#orangeButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#bananaButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#bananaButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#cherryButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#cherryButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#blackberryButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#blackberryButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#coconutButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#coconutButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#gemstonesButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#gemstonesButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#bartenderButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#bartenderButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#rangedItemsButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#rangedItemsButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#foodButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#foodButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#farmingButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#farmingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#magicButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#magicButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#weaponsArmorToolsButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#weaponsArmorToolsButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#artisanButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#artisanButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#generalButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#generalButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#cookingButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#cookingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#fishingButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#fishingButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#oresButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#oresButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#peacefulButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#peacefulButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#easyButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#easyButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#normalButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#normalButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#hardButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#hardButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#hardcoreButton{
    display: inherit;
    align-items: center;
    margin-top: 5px;
    top: 310px;
    left: 150px;
    width: 131px;
    height: 25px;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    color: white;
    text-align: center;
    z-index: 500;
}
#hardcoreButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

#logoContainer {
        padding-top: 100px !important;
        left: 50%!important;
        width: 30em!important;
        height: 18em!important;
        transform: translate(-50%, -50%)!important;
        position: fixed;
        margin: 0 auto;
}

#image {  
display: block;  
margin-left: auto;  
margin-right: auto; 
padding: 5px;
width: 200px;
height:100px; 
}  