.leaflet-control-slidemenu{
    cursor: pointer;
}

.leaflet-menu {
    display: flex !important;
    position: absolute;
    background-color: #121212;
    border: #bb87fc solid 1px;
    cursor: default;
    z-index: 9999;
    margin: -2px;
    margin-bottom: 100px;
    align-content: top !important;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center !important;
    font-size: 18px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(1) .leaflet-control-layers-toggle {
    background-image: "scripts/leaflet/images/miningIcon.png"
}

@media only screen and (max-width: 724px) {
    .leaflet-menu {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
  }

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: rgb(187, 134, 245);

    -webkit-overflow-scrolling: touch;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;   
    -webkit-overflow-scrolling: touch;
}

.leaflet-menu-close-button{
    background-color: transparent;
    border: none;
    font-size: 14pt;
    color: #bb87fc;
    cursor: pointer;
    padding-left: 10px !important;
    padding-right: 13px !important;
}

.leaflet-menu-close-button:hover{
    color: #9c4dff;
}